@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ChemicalElementsDictionaryMVC.Pages.ChemicalElements.ChemicalElementEditFormModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chemical Elements List</title>
</head>
<body>
    <h1>Edit element</h1>
    <!--форма добавлениянового элемента-->
    <form method="post">
        <label for="Id">ID:</label>
        <input id="id" name="id" type="number" readonly required value="@Model.ChemicalElement.Id" />
        <!--Наименование-->
        <label for="full-name">Full Name: </label>
        <input id="full-name" name="fullName" type="text" minlenght="1" required value="@Model.ChemicalElement.FullName" />
        <!--код-->
        <label for="code">Code: </label>
        <input id="code" name="code" type="number" minlenght="1" required value="@Model.ChemicalElement.Code" />
        <!--масса-->
        <label for="mass">mass: </label>
        <input id="Mass" name="Mass" type="text" step="any" pattern="[0-9]+[\,]([0-9]+)" required value="@Model.ChemicalElement.Mass" />
        <!-- https://livebook.manning.com/book/asp-net-core-razor-pages-in-action/chapter-6/v-8/53-->
        <!--кнопка отправки формы-->
        <button>save</button>
    </form>
    <p> <a asp-page="ChemicalElementsList"> go ChemicalElementsList</a></p>
</body>
