@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ChemicalElementsDictionaryMVC.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chemical Elements Dictionary</title>
</head>
<body>
    <h1>Welcome to Chemical Elements Dictionary</h1>
    <p><a asp-page="ChemicalElements/ChemicalElementsList">Go to chemical elements list</a></p>
</body>
</html>